.env
.env.*
*.env
*.env.*
!workforce-backend/.env.example
!workforce-frontend/.env.example
!avs-frontend/.env.example
!.env.production.example

node_modules/
dist/
.next/
out/

*.log
*.err
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
.DS_Store
Thumbs.db
