{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip
	handle /call/* {
		reverse_proxy twilio-voice-router:4800
	}

	handle /assets/twilio-voice.min.js {
		reverse_proxy twilio-voice-router:4800
	}

	handle /api/token/* {
		reverse_proxy twilio-voice-router:4800
	}

	handle {
		reverse_proxy avs-frontend:3001
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}

{$WFM_DOMAIN} {
	encode zstd gzip
	reverse_proxy workforce-frontend:3000
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy workforce-backend:5000
}

{$CHATWOOT_DOMAIN} {
	encode zstd gzip
	handle /call/* {
		reverse_proxy twilio-voice-router:4800
	}

	handle /voice-widget.js {
		reverse_proxy twilio-voice-router:4800
	}

	handle /assets/twilio-voice.min.js {
		reverse_proxy twilio-voice-router:4800
	}

	handle /api/token/* {
		reverse_proxy twilio-voice-router:4800
	}

	handle /webhooks/twilio/voice/* {
		reverse_proxy twilio-voice-router:4800
	}

	handle {
		reverse_proxy chatwoot:3000
	}
}

{$EVOLUTION_MANAGER_DOMAIN} {
	encode zstd gzip
	reverse_proxy evolution-manager:80
}

{$EVOLUTION_PUBLIC_API_DOMAIN} {
	encode zstd gzip
	reverse_proxy evolution-api:8080
}
